@page
@model XyliTN_ASP.NET.pages.aboutModel
@{
}
<head>
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/AboutStyleSheet.css">
    <link rel="stylesheet" href="~/css/StyleSheet.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
</head>
<script src="~/js/Animation.js"></script>
<script src="~/js/about.js"></script>
<title>戊五醇的首页:关于</title>
<body style="overflow: hidden;">
    <div id="BaseBox" style="position: relative;">
        <div class="BackboradFront"></div>
        <img src="~/images/profile.jpg" class="Profile" />
        <div class="WhiteLine"></div>
        <p class="DescriptionLable">Xylitol/Xyliteee</p>
        <button class="JumpButton" style="top: 400px; left: 50%; transform: translateX(-50%);" onclick="JumpToMyGithub()">跳转到我的Github</button>
        <button class="JumpButton" style="top: 460px; left: 50%; transform: translateX(-50%);" onclick="JumpToMyCloudMusic()">跳转到我的网易云音乐</button>
        <button class="JumpButton" style="top: 520px; left: 50%; transform: translateX(-50%);" onclick="JumpToMyBiliBili()">跳转到我的BiliBili</button>
        <button class="JumpButton" style="top: 580px; left: 50%; transform: translateX(-50%);" onclick="DownloadRandomPicture()">随机来张图！</button>

        <div class="iframe-container">
            <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="500" height="86" src="//music.163.com/outchain/player?type=2&id=2117908252&auto=1&height=66"></iframe>
        </div>

    </div>
</body>

