.SearchButton {
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 10px;
    background: rgba(26, 31, 25, 0.5);
    background-size: 200% 200%;
    animation: Gradient 10s ease infinite;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 40px;
    top: 270px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: background 0.5s;
}


.SearchButton:hover {
    background: rgba(26, 31, 25, 1);
}

.webButton {
    position: absolute;
    color: lightgray;
    font-size: 16px;
    border-radius: 10px;
    background: rgba(0, 0, 0,0.5);
    width: 70px;
    height: 70px;
    position: absolute;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    transition: background 0.5s,opacity 0.5s
}
.webButton:hover {
    background: rgba(0, 0, 0,0.8);
}


.githubButton {
    position: absolute;
    color: lightgray;
    font-size: 16px;
    border-radius: 5px;
    background: rgba(0, 0, 0,0.5);
    left: 50%;
    top:700px;
    transform: translateX(-50%);
    width: 200px;
    height: 40px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    transition: background 0.5s;
}
    .githubButton:hover {
        background: rgba(0, 0, 0,0.8);
    }

.UserButton {
    position: absolute;
    color: lightgray;
    font-size: 12px;
    border-radius: 40px;
    background: rgba(0, 0, 0,0.5);
    right: 20px;
    top: 50px;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    position: absolute;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    transition: background 0.5s,transform 0.2s;
}
    .UserButton:hover {
        background: rgba(0, 0, 0,0.8);
    }
    .UserButton:active {
        transform: translateX(-50%) scale(0.8);
    }

.SettingButton {
    position: absolute;
    color: lightgray;
    font-size: 12px;
    border-radius: 40px;
    background: rgba(0, 0, 0,0.5);
    right: 80px;
    top: 50px;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    position: absolute;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    transition: background 0.5s,transform 0.2s;
}

    .SettingButton:hover {
        background: rgba(0, 0, 0,0.8);
    }

    .SettingButton:active {
        transform: translateX(-50%) scale(0.8);
    }

.LoginButton {
    position: absolute;
    color: lightgray;
    font-size: 16px;
    border-radius: 5px;
    background: rgba(255, 255, 255,0.2);
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    transition: background 0.5s;
}

    .LoginButton:hover {
        background: rgba(255, 255, 255,0.4);
    }


.LoginTitle {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.LoginBox {
    width: 400px;
    height: 220px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 140%) scale(0);
    transform-origin: center center;
    transition: transform 0.2s ease-in;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index:101;
}

.LoginInput {
    color:lightgray;
    background: rgba(40, 40, 40, 0.8);
    display: block;
    left:50px;
    position: absolute;
    width: 300px;
    border-radius: 50px;
    border: none;
    height: 30px;
    padding: 0 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: none; 
}

    .overlay.show {
        display: block;
        opacity: 1; 
    }


.engineButton {
    transition: left 0.5s;
    position: absolute;
    left: calc(50% - 150px);
    color: lightgray;
    font-size: 14px;
    top: 200px;
    border-radius: 50px;
    background: rgba(0, 0, 0,0.5);
    width: 50px;
    height: 50px;
    position: absolute;
    border: none;
    cursor: pointer;
}

.TimeLable {
    position: absolute;
    top: 100px;
    color: rgba(255, 255, 255,0.7);
    font-size: 32px;
    left: 50%;
    transform: translateX(-50%);
    
    border:none;
    background:none
}
.BALable {
    position: absolute;
    top: 900px;
    color: rgba(255, 255, 255,1);
    font-size: 12px;
    left: 44%;
    transform: translateX(-50%);
    border: none;
    background: none;
}

.BALogo {
    position: absolute;
    top: 900px;
    left: 50.8%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
}

.MainInputBoxStyle {
    background-color: rgba(0, 0, 0,0.5);
    font-size: 16px;
    color: lightgrey;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 50px;
    top: 200px;
    transition: width 0.5s,background-color 0.5s;
    border-radius: 50px;
    text-align: left;
    padding:0 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border: none;
    backdrop-filter: blur(10px);
}

.ShutdownButton {
    position: absolute;
    color: lightgray;
    font-size: 16px;
    border-radius: 32px;
    background: rgba(0, 0, 0,0);
    border: none;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body, html {
    margin: 0;
    padding: 0;
}

.background-image {
    opacity: 60%;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    position: absolute;
    transition: transform 0.5s, filter 0.5s, opacity 0.5s;
    -webkit-user-drag: none;
}


.background-mask {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh; 
    object-fit: cover; 
    object-position: center; 
    position: absolute;
}

.container {
    position: relative;
}

.UserBox {
    position: absolute;
    width: 80px;
    height: 40px;
    right: 20px;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    display: none; 
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    backdrop-filter: blur(10px);
}

    .UserBox.show {
        display: block;
        opacity: 1;
    }

    .UserBox.hide {
        opacity: 0;
    }



.SettingBox {
    position: absolute;
    width: 80px;
    height: 80px;
    right: 80px;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    display: none;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    backdrop-filter: blur(10px);
}

    .SettingBox.show {
        display: block;
        opacity: 1;
    }

    .SettingBox.hide {
        opacity: 0;
    }


.smallFuncButton {
    position: relative;
    color: lightgrey;
    font-size: 12px;
    border: none;
    width: 80px;
    height: 40px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
}
    .smallFuncButton:hover {
        color: white;
    }


